asgiref==3.4.1
certifi==2022.6.15
cffi==1.15.1
Django==3.2.5
django-bootstrap-form==3.4
django-bootstrap3==21.2
django-bootstrap5==22.1
django-braces==1.15.0
misaka==2.1.1
pip==22.1.2
psycopg2==2.8.6
pycparser==2.21
pytz==2022.1
setuptools==61.2.0
sqlparse==0.4.1
typing_extensions==4.1.1
wheel==0.37.1
