{% extends 'group/group_main.html' %} {% block pre_content %}

<h1 class="post-title">{{ group.name }}</h1>
<h2>Total Members : {{group.members.count}}</h2>

<div class="content">
  {% if user in group.members.all %}
  <a href="{% url 'group:leave' slug=group.slug  %}" class="btn btn-warning"
    ><span class="glyphicon glyphicon-remove-cycle"></span>Leave</a
  >
  {% else %}
  <a href="{% url 'group:join' slug=group.slug %}" class="btn btn-primary"
    ><span class="glyphicon glyphicon-remove-cycle"></span>Join</a
  >      
  {% endif %}
    <a href="{% url 'post:create'%}" class="btn btn-md btn-fill btn-primary">
      <span class="glyphicon glyphicon-plus-sign"></span> Create New Post!</a>
</div>
{% endblock %} 

{% block main_content%}
<div class="col-md-8 mt-3">
  {% if group.posts.count == 0 %}
  <h2>No post fond in the group yet</h2>
  <h2>be the first person to create the post 😀 😀</h2>

  {% else %} 

  {% for post in group.posts.all %} 
    {% include "post/_post.html" %} 
  {% endfor %} 
  {% endif %}
</div>
{% endblock %}
